.onboarding-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #fafafa;
}

.chore-types {
  appearance: none;
  background: linear-gradient(135deg, rgb(223, 215, 213) 53%, rgb(109, 108, 100) 100%);
  border: 1.5px solid #fafafa;
  border-radius: 100px;
  box-sizing: border-box;
  color: #424242;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.chore-types:disabled {
  pointer-events: none;
}

.chore-types:hover {
  box-shadow: rgba(250, 250, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.chore-types:active {
  box-shadow: none;
  transform: translateY(0);
}